
/*=================================
        STYLES FOR INDEX
===================================*/

html, body 
{
  width: 100%;
  height: 100%;
  /*font-family: "proxima_nova","Helvetica Neue",Helvetica,Arial,sans-serif;*/

  /*background: rgba(255, 255, 0, 0.09);*/
}
strong {
  color: #cb3b28;
  font-size: 1.2em;
}
.hidden {
  display: none;
}
/*.col-lg-12, .col-lg-6 {
  padding-right: 2px;
  padding-left: 2px;
}*/

body div.container 
{
  padding: 0;
  margin: 0 auto;
  /*padding-bottom: 48px;*/
}
.section {
  border-bottom: 1px solid #aaa;
}

.container .header
{
  padding-top: 24px;
  padding-bottom: 24px;
}
  .row 
  {
    width: 100%;
  }

    .row section 
    {
      width: 100%;
      height: 100%;
      
    }


#apple-badge, #google-badge {
  height: 48px;
}

.demo-img-wrap, .loop-img-container {
  width: 320px;
  height: 466px;
  background-image: url('/static/img/bg-iphone-gold.png');
  background-repeat: no-repeat;
  background-size: cover;  
}
  .loop-img-wrap {
    margin-top: 95px;
    margin-left: 22px;
    width: 280px;
    height: 374px;
  }
    .loop-img-wrap .carousel {
      /*top: 95px;*/
    }
    .loop-img-wrap a img {
      width: 280px;
    }
    /* style override */
    #carousel-images .carousel-indicators {
      bottom: 64px;
    }
    #carousel-images .carousel-indicators li {
      border: 1px solid #FF6138;
    }
    #carousel-images .carousel-indicators li.active {
      background-color: #FF6138;
    }
    #carousel-images .carousel-control i {
      margin-top: 178px;
    }

.demo-img-wrap img {
  margin-top: 95px;
  margin-left: 22px;
  width: 280px;
}
#survey-good-place {
  /*background: #333;*/
}

.scenario-box
{
  width: 180px;
  height: 180px;
  margin-left: 36px;
  margin-bottom: 36px;
}
.scenario-add {
  border: 5px dashed #ccc;
}
  .scenario-box .box-text
  {
    width: 100%;
    height: 40%;
    top: 30%;
    text-align: center;
    cursor: pointer;
    text-overflow: ellipsis;
    padding: 0 8px;    
  }
  .scenario-box .example-badges-container {
    right: 10px;
    bottom: 10px;    
  }
  .box-badge 
  {
    width: 20px; 
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    bottom: 15px;
    right: 15px;
    /*padding: 5px 10px;*/
  }
  .scenario-more-input 
  {
    width: 80%;
    /*height: 40px;*/
    border: 0;
    outline: none;
    background: none;
    text-align: center;
    /*border-bottom: 3px solid */

  }
  .scenario-box.scenario-add .box-text{

  }

#gender-block .info-box
{
  display: inline-block;
  width: 144px;
  height: 144px;
  margin-left: 36px;
  margin-bottom: 36px;  
  text-align: center;
  cursor: pointer;
}

  #gender-block .info-box .box-wrap
  {
    width: 100%;
    height: 100%;
  }
    #gender-block .info-box .box-wrap img
    {
      max-height: 95%;
    }
  #gender-block .info-box .box-footer
  {
    width: 100%;
    height: 5%;
    min-height: 24px;
    line-height: 24px;
  }
    #gender-block .info-box .box-footer .arrow-up
    {

      margin: 12px auto 0 auto;
    }

iframe {
    width: 316px;
    height: 661px;
    overflow: hidden;
    /*pointer-events:none;*/
    /*margin-top:-100px;*/
    /*margin-left:-100px*/
}

.opinion-tag {
/*background: yellowgreen;*/
  border-radius: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 0.5em;
  font-size: 22px;
  opacity: 0.35;
  outline: none!important;
}
.opinion-text {
/*border-right: 2px dashed #ddd;*/
  padding-right: 8px;
  padding-left: 8px;
}
.opinion-toggle {
  padding-right: 4px;
  padding-left: 2px;
  width: 24px;
/*text-align: center;*/
}

/*.btn-disabled {
  opacity: 0.5;
}*/
.highlight {
  opacity: 0.85;
}
.chosen {
  opacity: 1.0;
}

.opinion-more-container {

}

.opinion-more-container .opinion-more-text, .opinion-more-container .opinion-more-input {

}

.opinion-more-container .opinion-more-text {

}

.opinion-more-container .opinion-more-input {
  border: 0;
  outline: none;
  border-bottom: 2px dashed #bbb;

  font-family: sans-serif;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 12px;
  font-size: 24px;
  text-align: center;
  width: 196px;

}

.default-restaurant {
  background: url('../img/restaurant.icon.png');
}
.dropdown-menu > li > a {
  outline: none;
}

.comments-container textarea {
  resize: vertical;
}
.comments-container button:focus,
.thanks-container button:focus {
  outline: none;
}

.scenario-box .fa-check-circle {
  top: 78px;
  right: 20px;  
}
.button-groups button {
  width: 160px;
}
