
/*=================================
        STYLES FOR INDEX
===================================*/

html, body 
{
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 0, 0.09);
}

body div.container 
{
  /*width: 100%;*/
  /*padding: 0;*/
}

  .row 
  {

  }

    .row section 
    {
      height: 100%;
      background: white;
    }


.compare-block
{
  width: 100%;
  /*width: 360px;*/
  height: 540px;
}
#compare-left
{
  background: orange;
}
#compare-right
{
  background: blue;  
}
  .compare-block .img-container
  {
    width: 360px;
    height: 480px;
    background: purple;
  }
  .compare-block .like-container
  {
    width: 100%;
    height: 32px;
    background: #aaa;
  }

.scenario-box
{
  float: left;
  width: 144px;
  height: 144px;
  background: #9bcb01;
  margin-left: 36px;
  margin-bottom: 36px;
}
